.custom-background {
    background-color: #ffd58d !important;
    min-height: 100vh; 
}

.container_body {
    padding: 3rem; 
}
    
.container_main {
    margin: 0 auto;
    max-width: 80rem; 
    margin-top: 1.5rem; 
}

.custom-bg-class {
    background-color: #fff0d7;
}
  

.h2_title {
    color: #1F2937; 
    font-size: 1.25rem;
    font-weight: 600; 
    line-height: 1.25; 
}

.border {
    overflow: hidden; 
    background-color: #fff7ea;  
    box-shadow: 0 1px 2px 0 #0000000d; 
    margin: 0.5rem 0rem;
    /* padding: 2rem 3rem; */
    color: #000;
}

.border_text {
    padding: 1.5rem; 
    color: #111827; 
}

.border_text a:hover {
    color: #af6f00; 
}

.border_product {
    display: flex; 
    margin: 0.5rem 1rem;
    flex-direction: column;
}

.like {
    color: #ff3737; 
}

.like:hover {
    color: #b00e0e; 
}

.edit_link {
    color: #78acff; 
}

.edit_link:hover {
    color: #397eed; 
}

.faq-list {
    list-style-type: none;
    padding: 0;
}

.faq-item {
    background-color: #ffd58d;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.question {
    font-weight: bold;
}

.answer {
    margin-top: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #ffaf2695;
}

.category_title {
    font-size: 24px;
}

.category_actions {
    margin-top: -24px;
    margin-left: 224px;
    margin-bottom: 20px;
}

.button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    background-color: #60606012; 
    color: #00000083; 
    font-weight: 700; 
    border-radius: 0.25rem; 
    border-width: 1px; 
    border-color: #8787875f; 
}

.button:hover {
    background-color: #90909060; 
    color: #fffffffc; 
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.bg-blue-500 {
    background-color: #000000;
    color: #ffffff;
}

@media (min-width: 640px) { 
    .container_main {
        padding: 0rem 1.5rem; 
    }

    .border {
        border-radius: 0.5rem; 
    }
   }
  
  @media (min-width: 1024px) { 
    .container_main {
        padding: 0rem 2rem; 
    }
   }
  